@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype"); }

/* font-styles */
/* colors */
/* measurements */
/** {
  outline: 1px solid red;
}*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0 auto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #303030;
  font-family: "Roboto";
  font-style: normal;
  background-color: #ffffff; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1,
h2,
h3,
h4 {
  margin: 0; }

p {
  margin: 0; }

img {
  display: block;
  height: auto; }

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  body {
    font-size: 12px;
    line-height: 18px; } }

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 28px; } }

.container {
  position: relative;
  margin: 0 auto;
  min-width: 320px; }

.container--shown-overlay::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  left: 0;
  z-index: 30; }

@media (min-width: 375px) {
  .container {
    min-width: 375px; } }

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    /*min-width: 768px;
		max-width: 800px;*/ } }

@media (min-width: 1024px) {
  .container {
    min-width: 1024px;
    /*min-width: 1000px;
		max-width: 1024px;*/ } }

@media (min-width: 1440px) {
  .container {
    min-width: 1440px; } }

@media (min-width: 1920px) {
  .container {
    min-width: 1920px; } }

.logo-block__link {
  display: block;
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff; }

.logo-block__name {
  margin-left: 6px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: left; }

.logo-block__description {
  display: none; }

.logo__svg {
  position: relative; }

.logo__main-img {
  width: 55px;
  height: 56px;
  fill: #ffffff; }

.logo__om-on-sun {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 23px;
  height: 20px;
  fill: #6f148c;
  -webkit-transform: translate(-53%, -70%);
          transform: translate(-53%, -70%); }

.logo__om-on-sun--shown {
  display: block; }

@media (min-width: 768px) {
  .logo-block__name {
    margin-left: 8px;
    font-size: 28px; } }

@media (min-width: 1024px) {
  .logo-block__name {
    font-size: 30px; } }

@media (min-width: 1440px) {
  .logo-block__name {
    margin-left: 12px;
    font-size: 50px; }
  .logo-block svg {
    width: 80px;
    height: 83px; } }

.title {
  font-size: 35px;
  line-height: 44px;
  font-weight: 700;
  color: #303030;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 15px;
  text-align: center; }

.title__secondary {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color: #303030;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 21px;
  text-align: center; }

.title__third {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #303030;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 18px; }

@media (min-width: 768px) {
  .title {
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;
    color: #303030;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 30px; }
  .title__secondary {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #303030;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 35px; }
  .title__third {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #303030;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500; } }

@media (min-width: 1024px) {
  .title {
    font-size: 50px;
    line-height: 65px;
    font-weight: 700;
    color: #303030;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 45px; }
  .title__secondary {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #303030;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 45px; }
  .title__third {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #303030;
    font-family: "Roboto";
    font-style: normal; } }

@media (min-width: 1440px) {
  .title__secondary {
    margin-bottom: 55px; } }

@media (min-width: 1800px) {
  .title {
    font-size: 56px; }
  .title__secondary {
    font-size: 46px;
    margin-bottom: 62px; }
  .title__third {
    margin-bottom: 34px;
    font-size: 32px; } }

.btn {
  display: block;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-top: 21px;
  margin-bottom: 21px;
  padding: 16px;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  background-color: #19744C;
  border-radius: 4px; }

@media (min-width: 768px) {
  .btn {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;
    padding: 18px; } }

.social-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.social-block__item {
  margin-left: 9px; }
  .social-block__item:first-of-type {
    margin-left: 0; }

.social-block__link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 0;
  width: 18px;
  height: 18px; }

.social-block__link svg {
  width: 18px;
  height: 18px; }

.main-header {
  position: relative;
  padding: 13px 21px;
  background-color: #19744C; }

.main-header__block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .main-header {
    padding: 30px 50px; } }

@media (min-width: 1024px) {
  .main-header {
    padding: 30px 40px; } }

@media (min-width: 1440px) {
  .main-header {
    padding: 40px 80px; } }

@media (min-width: 1920px) {
  .main-header {
    padding: 40px 180px; } }

.main-nav__toggler {
  position: relative;
  padding: 13px 16px;
  padding-left: 43px; }

.main-nav__toggler-label {
  position: relative;
  display: block;
  color: #ffffff;
  font-weight: 700;
  line-height: 14px;
  font-size: 18px; }
  .main-nav__toggler-label::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    left: 0;
    bottom: -3px; }

.main-nav__toggler-element {
  position: absolute;
  display: block;
  top: 15px;
  left: 16px;
  width: 20px;
  height: 2px;
  background-color: #ffffff; }
  .main-nav__toggler-element::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    top: 6px;
    left: 0; }
  .main-nav__toggler-element::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    top: 12px;
    left: 0; }

.main-nav__toggler--close .main-nav__toggler-element {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
  .main-nav__toggler--close .main-nav__toggler-element::before {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .main-nav__toggler--close .main-nav__toggler-element::after {
    display: none; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 26px;
  padding-top: 16px;
  padding-left: 32px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  display: none; }

.main-nav__list--shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-nav__link {
  display: block;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 8px 0;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #19744C; }

.main-nav__list--fitness .main-nav__link {
  color: #6f148c; }

.main-nav__item--active .main-nav__link {
  opacity: 0.7; }

.main-nav__link:hover {
  position: relative; }
  .main-nav__link:hover::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ffffff; }

@media (min-width: 768px) {
  .main-nav__toggler-label {
    font-size: 20px; }
    .main-nav__toggler-label::before {
      bottom: -5px; }
  .main-nav__toggler-element {
    top: 13px;
    left: 10px;
    width: 24px; }
    .main-nav__toggler-element::before {
      top: 7px;
      width: 24px; }
    .main-nav__toggler-element::after {
      top: 14px;
      width: 24px; }
  .main-nav__list {
    top: 100px;
    padding: 50px;
    padding-left: 45px; }
  .main-nav__item {
    margin-bottom: 10px; }
    .main-nav__item:last-of-type {
      margin-bottom: 0; }
  .main-nav__link {
    font-size: 18px; } }

@media (min-width: 1024px) {
  .main-nav__toggler {
    display: none; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent; }
  .main-nav__item {
    position: relative;
    margin-left: 20px;
    margin-bottom: 0; }
    .main-nav__item:first-of-type {
      margin-left: 0; }
  .main-nav__link {
    font-size: 20px;
    color: #ffffff; }
  .main-nav__list--fitness .main-nav__link {
    color: #ffffff; } }

@media (min-width: 1440px) {
  .main-nav__item {
    margin-left: 30px; }
  .main-nav__link {
    font-size: 22px; } }

@media (min-width: 1920px) {
  .main-nav__item {
    margin-left: 46px; }
  .main-nav__link {
    font-size: 26px; } }

.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.sub-menu--shown {
  display: block;
  padding-left: 30px; }

.sub-menu__link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #19744C;
  white-space: nowrap; }

.sub-menu--fitness .sub-menu__link {
  color: #6f148c; }

@media (min-width: 1024px) {
  .sub-menu {
    position: absolute;
    left: 20px;
    padding: 12px 21px;
    border: 1px solid #19744C;
    border-radius: 4px;
    background-color: #ffffff; }
  .sub-menu--fitness {
    border-color: #6f148c; } }

.main-home {
  padding-top: 35px; }

.main-home__title,
.main-home__greeting {
  display: none;
  padding: 0 16px; }

.main-home__title--mobile {
  display: block; }

.main-home__greeting--mobile {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; }

.main-home__picture-wrap img {
  margin: 0 auto; }

@media (min-width: 768px) {
  .main-home {
    padding-top: 65px; }
  .main-home__title,
  .main-home__greeting {
    display: block;
    padding: 0 30px; }
  .main-home__greeting {
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    font-style: italic; }
  .main-home__title--mobile,
  .main-home__greeting--mobile {
    display: none; } }

@media (min-width: 1024px) {
  .main-home {
    padding-top: 80px; }
  .main-home__title,
  .main-home__greeting {
    padding: 0 60px; } }

@media (min-width: 1440px) {
  .main-home {
    padding-top: 110px; }
  .main-home__greeting {
    font-size: 22px; } }

@media (min-width: 1920px) {
  .main-home__greeting {
    font-size: 26px; } }

.news {
  padding: 50px 16px;
  padding-bottom: 0; }

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.news__item {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #19744C; }
  .news__item:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }

.news__article {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 20px; }

.news__picture {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: -2; }

.news__article-link {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 0; }

.news__article-title {
  font-size: 18px;
  color: #19744C; }

.news__date {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: 500;
  font-style: italic; }

.news__article-link-fb {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: -2;
  display: block;
  color: inherit;
  text-decoration: none;
  color: #19744C;
  font-weight: 500; }

.news__article-link-fb svg {
  width: 26px;
  height: 26px; }

.news__text {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: -1; }

.news__article-link-text {
  display: block;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  color: #19744C; }

.news__btn {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .news {
    padding: 65px 30px;
    padding-bottom: 0; }
  .news__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .news__item {
    margin-bottom: 0;
    margin-right: 25px;
    padding-bottom: 0;
    border-bottom: none; }
    .news__item:last-of-type {
      margin-right: 0; }
  .news__article {
    grid-template-columns: 120px auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 25px; }
  .news__article-link {
    margin-bottom: 10px; }
  .news__picture {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: -1; }
  .news__article-title {
    margin-bottom: 10px;
    font-size: 20px; }
  .news__date {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-bottom: 8px;
    line-height: 1; }
  .news__article-link-fb {
    line-height: 1; } }

@media (min-width: 1024px) {
  .news {
    padding: 80px 60px;
    padding-bottom: 0; }
  .news__item {
    margin-right: 60px; } }

@media (min-width: 1440px) {
  .news {
    padding: 110px 160px;
    padding-bottom: 0; }
  .news__item {
    width: 500px; }
  .news__article {
    grid-template-rows: auto auto auto auto; }
  .news__article-link {
    margin-top: 18px;
    margin-bottom: 0; }
  .news__article-title {
    margin-bottom: 0; }
  .news__picture {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: -2;
    margin-bottom: 12px; }
  .news__date {
    margin-bottom: 0; }
  .news__article-link-text {
    margin-left: 25px;
    font-weight: 500;
    color: #19744C; }
  .news__article-link-fb {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-bottom: 18px; }
  .news__text {
    display: block; }
  .news__text {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: -1; } }

@media (min-width: 1800px) {
  .news {
    padding: 110px 250px;
    padding-bottom: 0; }
  .news__item {
    margin-right: 90px;
    width: 600px; } }

.branches {
  padding: 50px 16px;
  padding-bottom: 0; }

.branches__text {
  margin-bottom: 40px; }

.branches__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.branches__item {
  margin-bottom: 35px; }
  .branches__item:last-of-type {
    margin-bottom: 0; }

.branches__article-link {
  display: block;
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
  color: #19744C; }

.branches__link-bottom {
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  font-weight: 500;
  color: #19744C; }
  .branches__link-bottom::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;
    background-color: #19744C; }

.branches__article-title {
  color: #19744C;
  margin-bottom: 0; }

.branches__illustration {
  margin-bottom: 20px; }

.branches__illustration img {
  margin: 0 auto; }

.branches__article ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 15px;
  padding-left: 40px; }

.branches__article ul li {
  position: relative; }
  .branches__article ul li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #19744C;
    top: 8px;
    left: -12px;
    border-radius: 50%; }

@media (min-width: 768px) {
  .branches {
    padding: 65px 30px;
    padding-bottom: 0; }
  .branches__text {
    font-style: italic; }
  .branches__item {
    margin-bottom: 50px; }
  .branches__article ul {
    padding-left: 50px; }
  .branches__article ul li::before {
    top: 10px;
    width: 8px;
    height: 8px;
    left: -18px; } }

@media (min-width: 1024px) {
  .branches {
    padding: 80px 60px;
    padding-bottom: 0; }
  .branches__text {
    margin: 0 auto;
    margin-bottom: 65px;
    width: 80%; }
  .branches__article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 35px; }
  .branches__article-link {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1; }
  .branches__illustration {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    margin-bottom: 0;
    width: 460px; }
  .branches__article-text {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1; } }

@media (min-width: 1440px) {
  .branches {
    padding: 110px 160px;
    padding-bottom: 0; }
  .branches__article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 55px; }
  .branches__text {
    width: 70%;
    font-size: 18px; }
  .branches__item {
    margin-bottom: 70px; }
  .branches__article-text {
    margin-top: 30px; } }

@media (min-width: 1800px) {
  .branches__text {
    font-size: 22px; }
  .branches__item {
    margin-bottom: 95px; }
  .branches__article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 85px auto;
    grid-column-gap: 80px; }
  .branches__article-link {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 0; }
  .branches__illustration {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: -1;
    width: 708px; }
  .branches__article-text {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
    margin-top: 0;
    font-size: 20px; }
  .branches__article ul li {
    font-size: 24px; }
  .branches__link-bottom {
    margin-top: 35px; } }

.teachers {
  padding: 50px 16px; }

.teachers__illustration {
  margin-bottom: 25px; }

@media (min-width: 375px) {
  .teachers__illustration {
    margin: 0 auto; } }

@media (min-width: 768px) {
  .teachers {
    display: grid;
    grid-template-columns: auto 338px;
    grid-template-rows: auto auto 58px;
    grid-column-gap: 30px;
    padding: 65px 30px; }
  .teachers__title {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1; }
  .teachers__text {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; }
  .teachers__illustration {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 2; }
  .teachers__btn {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: -1;
    justify-self: start;
    align-self: end;
    margin: 0; } }

@media (min-width: 1024px) {
  .teachers {
    grid-template-columns: auto 487px;
    grid-template-rows: auto 294px;
    grid-column-gap: 50px;
    padding: 80px 60px; }
  .teachers__illustration {
    margin: 0;
    width: 487px; }
  .teachers__text {
    margin-top: 22px; }
  .teachers__btn {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    justify-self: start;
    align-self: end; } }

@media (min-width: 1440px) {
  .teachers {
    grid-template-columns: auto 487px;
    grid-template-rows: auto 294px;
    padding: 110px 160px; }
  .teachers__text {
    margin-top: 40px; }
  .teachers__illustration {
    margin: 0;
    width: 487px; }
  .teachers__btn {
    margin-bottom: 55px; } }

@media (min-width: 1800px) {
  .teachers {
    grid-template-columns: auto 1000px;
    grid-template-rows: auto 604px; }
  .teachers__illustration {
    width: 1000px; }
  .teachers__text {
    margin-top: 70px;
    font-size: 24px;
    line-height: 1.7;
    font-style: italic; } }

.control-handlers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.control-handlers__handler {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #19744C; }
  .control-handlers__handler::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: transparent;
    top: 60%;
    left: 50%;
    border: 1px solid #ffffff; }

.control-handlers__handler--left::before {
  border-top: none;
  border-right: none;
  top: 25%;
  left: 40%;
  -webkit-transform: rotate(45deg) translate(0);
          transform: rotate(45deg) translate(0); }

.control-handlers__handler--right::before {
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(45deg) translate(-100%);
          transform: rotate(45deg) translate(-100%); }

.control-handlers__handler--faded {
  opacity: 0.4; }

.control-handlers__handler--faded::before {
  opacity: 0.4; }

.subscribing {
  position: relative;
  padding: 50px 16px;
  background-color: #F0F0F0; }

.subscribing__control-block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20; }

.subscribing__title {
  display: none; }

.subscribing__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  width: 240px; }

.subscribing__item {
  display: none;
  padding: 30px 20px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #19744C;
  background-color: #ffffff; }

.subscribing__item-title {
  color: #19744C; }

.subscribing__item--active {
  display: block; }

.subscribing__description p:last-of-type {
  margin-top: 10px; }

.subscribing__price {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #19744C; }

@media (min-width: 768px) {
  .subscribing {
    padding: 65px 30px;
    padding-right: 80px;
    padding-left: 80px; }
  .subscribing__control-block {
    display: none; }
  .subscribing__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    width: 100%; }
  .subscribing__item {
    display: block;
    width: 200px; }
    .subscribing__item:first-of-type {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 1;
      align-self: start;
      justify-self: start; }
    .subscribing__item:nth-of-type(2) {
      grid-column-start: 2;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: 1;
      align-self: start;
      justify-self: end; }
    .subscribing__item:nth-of-type(3) {
      position: absolute;
      left: 50%;
      top: 65px;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      -webkit-box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
              box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
      z-index: 20; }
  .subscribing__item--active {
    position: absolute;
    -webkit-box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
            box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
    z-index: 30; } }

@media (min-width: 1024px) {
  .subscribing {
    padding: 80px 60px; }
  .subscribing__title {
    display: block;
    color: #19744C; }
  .subscribing__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .subscribing__item {
    width: 240px; }
    .subscribing__item:nth-of-type(2) {
      grid-column-start: 3;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: 1;
      align-self: start;
      justify-self: end; }
    .subscribing__item:nth-of-type(3) {
      position: static;
      grid-column-start: 2;
      grid-column-end: -2;
      grid-row-start: 1;
      grid-row-end: 1;
      justify-self: center;
      -webkit-transform: none;
              transform: none; } }

@media (min-width: 1440px) {
  .subscribing {
    padding: 80px 250px; } }

@media (min-width: 1800px) {
  .subscribing {
    padding: 110px 250px; }
  .subscribing__item {
    padding: 65px 32px;
    width: 300px; }
  .subscribing__description p {
    margin-bottom: 12px;
    font-size: 24px; }
    .subscribing__description p:last-of-type {
      margin-top: 28px;
      margin-bottom: 0; } }

.schedule {
  padding: 50px 16px;
  padding-bottom: 0; }

.schedule__inner {
  padding: 0; }

.schedule__common {
  margin-bottom: 28px; }

.schedule__title {
  text-align: center;
  font-weight: 500; }

.schedule__handler {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #19744C;
  border-radius: 4px; }
  .schedule__handler::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: transparent;
    left: 50%;
    bottom: 10px;
    border-radius: 2px;
    border: 2px solid #ffffff;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(45deg) translate(-50%);
            transform: rotate(45deg) translate(-50%); }

.schedule__handler--close::before {
  bottom: 5px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-bottom: none;
  border-right: none; }

.schedule__list,
.schedule__item-handler,
.schedule__class-list-per-day {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.schedule__list--shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  padding: 25px;
  padding-top: 0;
  border-radius: 4px;
  background-color: #ffffff; }

.schedule__list {
  position: relative; }

.schedule__list--faded {
  padding-top: 25px; }
  .schedule__list--faded::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #19744C;
    top: 0;
    left: 0;
    border-radius: 4px;
    z-index: 0; }

.schedule__item {
  position: relative;
  margin-bottom: 25px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #19744C;
  background-color: #ffffff; }
  .schedule__item:last-of-type {
    margin-bottom: 0; }

.schedule__item-title {
  margin-bottom: 0;
  padding: 10px 25px;
  color: #19744C; }

.schedule__class-list-per-day--shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.schedule__class-item {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 8px;
  border-bottom: 1px solid #19744C;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #303030;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500; }
  .schedule__class-item:first-of-type {
    padding-top: 15px; }
  .schedule__class-item:last-of-type {
    margin-bottom: 0;
    border: none; }

.schedule__class-item span {
  display: block; }

.schedule__timing-block {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: -1;
  align-self: center;
  justify-self: start; }

.schedule__class-name {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1; }

.schedule__teacher-name {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;
  color: #19744C; }

.schedule__item-handler--shown {
  display: block;
  position: absolute;
  right: 22px;
  top: 18px;
  width: 13px;
  height: 13px;
  background-color: transparent;
  z-index: 20; }
  .schedule__item-handler--shown::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #19744C;
    top: 82%;
    left: 30%;
    -webkit-transform: rotate(45deg) translate(-50%);
            transform: rotate(45deg) translate(-50%); }
  .schedule__item-handler--shown::after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #19744C;
    top: -13.59%;
    left: 30%;
    -webkit-transform: rotate(-45deg) translate(-50%);
            transform: rotate(-45deg) translate(-50%); }

@media (min-width: 768px) {
  .schedule {
    padding: 65px 30px;
    padding-bottom: 0; }
  .schedule__common {
    margin-bottom: 45px; }
  .schedule__inner {
    padding: 0; }
  .schedule__list {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 0; }
  .schedule__list--shown {
    display: grid; }
  .schedule__list--faded::before {
    height: 640px;
    z-index: 10; }
  .schedule__item {
    position: relative;
    margin-bottom: -1px;
    margin-left: -1px; }
    .schedule__item:first-of-type {
      margin-left: 0; }
    .schedule__item:nth-of-type(4) {
      margin-left: 0; }
  .schedule__item--active {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 280px;
    background-color: #ffffff;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 10; }
  .schedule__class-item {
    padding-top: 15px;
    padding-bottom: 15px; }
    .schedule__class-item:last-of-type {
      padding-bottom: 15px; } }

@media (min-width: 1024px) {
  .schedule {
    padding: 65px 35px;
    padding-bottom: 0; }
  .schedule__common {
    margin-bottom: 55px; }
  .schedule__inner {
    padding: 0; }
  .schedule__handler {
    display: none; }
  .schedule__list {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px; }
  .schedule__class-list-per-day {
    display: grid; }
  .schedule__item-title {
    padding: 13px 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #ffffff;
    background-color: #19744C;
    border-radius: 4px; } }

@media (min-width: 1440px) {
  .schedule {
    padding: 110px 180px;
    padding-bottom: 0; }
  .schedule__inner {
    padding: 0; }
  .schedule__list {
    grid-column-gap: 45px;
    grid-row-gap: 35px;
    padding: 0; } }

@media (min-width: 1800px) {
  .schedule {
    padding: 110px 50px;
    padding-bottom: 0; }
  .schedule__inner {
    padding: 0; }
  .schedule__list {
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: auto;
    grid-column-gap: 0.8%; }
  .schedule__item-title {
    padding: 22px 0;
    font-size: 24px; }
  .schedule__class-item {
    font-size: 18px; } }

.reviews {
  position: relative;
  padding: 50px 16px; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.reviews__item {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #19744C; }
  .reviews__item:last-of-type {
    margin-bottom: 0; }

.reviews__item-personal-block {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;
  grid-column-gap: 15px;
  margin-bottom: 15px; }

.reviews__reviewer-potret {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: -1; }

.reviews__reviewer-name {
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  color: #19744C;
  font-size: 16px;
  font-weight: 500; }

.reviews__date {
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;
  font-size: 12px;
  font-style: italic;
  color: #101010; }

.reviews__text--full {
  display: none; }

.reviews__btn {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .reviews {
    padding: 65px 30px; }
  .reviews__btn--read {
    margin-right: 30px; } }

@media (min-width: 1024px) {
  .reviews {
    padding: 80px 60px; }
  .reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 904px; }
  .reviews__item {
    margin: 0;
    margin-right: 60px;
    padding: 0;
    width: 435px;
    border-bottom: none; }
    .reviews__item:last-of-type {
      margin-right: 0; }
  .reviews__text {
    display: none; }
  .reviews__text--full {
    display: block; } }

@media (min-width: 1440px) {
  .reviews {
    padding: 110px 230px; }
  .reviews__title {
    margin-bottom: 60px; }
  .reviews__list {
    width: 980px; }
  .reviews__item {
    margin-right: 60px;
    width: 460px; }
  .reviews__item-personal-block {
    grid-template-columns: 100px auto;
    grid-column-gap: 25px;
    margin-bottom: 18px; }
  .reviews__reviewer-name {
    margin-top: 12px;
    font-size: 21px; }
  .reviews__date {
    font-size: 16px; } }

@media (min-width: 1800px) {
  .reviews {
    padding: 110px 280px; }
  .reviews__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .reviews__item {
    margin-right: 0;
    width: 45%; } }

.form__title {
  margin-bottom: 28px;
  color: #19744C; }

.form__input-wrap {
  margin-bottom: 22px; }

.form input,
.form textarea {
  padding: 8px 12px;
  border: 1px solid #19744C;
  border-radius: 4px;
  background-color: #ffffff; }

.map {
  width: 100%;
  background-image: url("../img/map-370.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }

.map iframe {
  width: 100%;
  height: 300px; }

@media (min-width: 768px) {
  .map {
    background-image: url("../img/map-800.jpg"); }
  .map iframe {
    height: 380px; } }

@media (min-width: 1024px) {
  .map {
    background-image: url("../img/map-1000.jpg"); }
  .map iframe {
    height: 400px; } }

.short-schedule {
  padding: 30px 0;
  padding-bottom: 35px; }

.short-schedule__title {
  color: #ffffff; }

.short-schedule__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.short-schedule__item:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.short-schedule__item:last-of-type .short-schedule__days {
  margin-right: 5px; }

.contact {
  margin-right: auto;
  width: 215px; }

.contact__title {
  color: #ffffff; }

.contact p {
  display: inline-block;
  margin-bottom: 12px; }

.contact .contact__email {
  margin-bottom: 0; }

.main-footer {
  position: relative;
  padding: 50px 16px;
  color: #ffffff;
  background-color: #101010; }

.main-footer__logo {
  margin-bottom: 21px; }

.main-footer__logo svg {
  fill: #ffffff; }

.main-footer__social-block svg {
  fill: #ffffff; }

@media (min-width: 768px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto auto;
    padding: 50px 60px; }
  .main-footer__logo {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 30px; }
  .main-footer__contact {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0;
    width: 250px; }
  .main-footer__short-schedule {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    padding: 0; }
  .main-footer__social-block {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1;
    align-self: end; }
  .main-footer__social-block .social-block__link {
    width: 40px;
    height: 40px; }
  .main-footer__social-block .social-block__link svg {
    width: 40px;
    height: 40px; } }

@media (min-width: 1024px) {
  .main-footer {
    padding: 70px 110px; } }

@media (min-width: 1440px) {
  .main-footer {
    grid-template-columns: repeat(2, 250px);
    grid-column-gap: 90px;
    padding: 80px 160px; }
  .main-footer__logo {
    margin-bottom: 60px; }
  .main-footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main-footer__short-schedule {
    width: 250px; } }

.main-contact {
  padding: 50px 16px; }

.main-contact__greeting {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; }

.main-contact .contact,
.main-contact .short-schedule {
  width: 100%; }

.main-contact .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.main-contact .contact {
  padding-top: 35px;
  color: #19744C; }

.main-contact .short-schedule {
  padding-bottom: 0; }

.main-contact .contact__title,
.main-contact .short-schedule__title {
  color: #303030; }

.main-contact .contact p {
  font-weight: 500;
  font-size: 18px; }

@media (min-width: 768px) {
  .main-contact {
    padding: 65px 30px; } }

.main-schedule {
  padding: 50px 16px; }

.main-schedule .schedule {
  padding: 0; }

.main-schedule .schedule__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  padding-bottom: 0;
  border-radius: 4px;
  background-color: #ffffff; }

.main-news .news {
  padding-bottom: 50px; }

.main-news .news__article {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 52px 22px auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px; }

.main-news .news__picture {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: -2; }

.main-news .news__date {
  -ms-flex-item-align: start;
      align-self: start; }

.main-news .news__text {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: -1; }

.inner-page-main {
  padding: 50px 16px; }

.inner-page-main__title {
  margin-bottom: 35px; }

@media (min-width: 768px) {
  .inner-page-main {
    padding: 70px 60px; } }

@media (min-width: 1024px) {
  .inner-page-main {
    padding: 80px 100px; }
  .inner-page-main__title {
    margin-bottom: 55px; } }

.teachers-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.teachers-list__item {
  margin-bottom: 45px;
  padding-bottom: 20px;
  border-bottom: 1px solid #19744C; }
  .teachers-list__item:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none; }

.teachers-list__article-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px; }

.teachers-list__article-title {
  margin-bottom: 15px;
  color: #19744C; }

.teachers-list__social-block {
  margin-bottom: 20px; }

.teachers-list__social-block .social-block__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.teachers-list__social-block .social-block__item {
  margin-left: 16px;
  width: 30px;
  height: 30px; }
  .teachers-list__social-block .social-block__item:first-of-type {
    margin-left: 0; }

.teachers-list__social-block .social-block__link {
  width: 30px;
  height: 30px; }

.teachers-list__social-block svg {
  width: 30px;
  height: 30px; }

@media (min-width: 768px) {
  .teachers-list__item {
    margin-bottom: 55px; }
  .teachers-list__article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto; }
  .teachers-list__article-title {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    margin-bottom: 25px; }
  .teachers-list__article-picture {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: -2;
    margin-bottom: 25px; }
  .teachers-list__social-block {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-bottom: 0; }
  .teachers-list__social-block .social-block__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .teachers-list__social-block .social-block__item {
    margin-left: 0;
    margin-bottom: 35px;
    width: 35px;
    height: 35px; }
    .teachers-list__social-block .social-block__item:last-of-type {
      margin-bottom: 0; }
  .teachers-list__social-block .social-block__link {
    width: 35px;
    height: 35px; }
  .teachers-list__social-block svg {
    width: 35px;
    height: 35px; }
  .teachers-list__article-text {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1; } }

@media (min-width: 1024px) {
  .teachers-list__item {
    margin-bottom: 65px; }
  .teachers-list__article {
    grid-template-rows: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .teachers-list__article-title {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 0; }
  .teachers-list__social-block {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1; }
  .teachers-list__social-block .social-block__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .teachers-list__social-block .social-block__item {
    margin-bottom: 0;
    margin-right: 35px; }
  .teachers-list__article-picture {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    margin-bottom: 35px; }
  .teachers-list__article-text {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1; } }

.main-branches {
  padding: 50px 16px; }

.main-branches__greeting {
  text-align: center; }

.main-reviews .reviews__btn--message {
  justify-self: center;
  margin-left: 0;
  margin-right: 0; }

.article__illustration {
  margin-bottom: 21px; }

.article__secondary-title {
  margin-top: 15px;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .article__illustration {
    margin-bottom: 28px; }
  .article__secondary-title {
    margin-top: 18px;
    margin-bottom: 24px; } }

@media (min-width: 1024px) {
  .article__illustration {
    float: left;
    margin-right: 34px; }
  .clearfix {
    content: "";
    clear: both;
    display: table; }
  .article__secondary-title {
    margin-top: 0;
    white-space: nowrap; } }

@media (min-width: 1440px) {
  .article__illustration {
    margin-bottom: 35px;
    margin-right: 42px; } }

.front-page {
  position: relative;
  margin: 0 auto;
  padding: 25px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 45px auto auto auto;
  width: 270px;
  height: 430px;
  background-color: #af9eb9;
  background-image: url("../img/front-background-mobile.jpg");
  background-repeat: no-repeat; }

.front-page__title {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 1;
  text-transform: uppercase; }

.front-page__link {
  display: block;
  color: inherit;
  text-decoration: none; }

.front-page__link--yoga {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: start;
  justify-self: start;
  margin-top: 45px;
  z-index: 5; }

.front-page__link--fitness {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: end;
  justify-self: end;
  margin-bottom: 10px;
  z-index: 5; }

.front-page__title-secondary {
  margin-bottom: 0;
  font-size: 35px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase; }

.front-page__contacts,
.front-page__schedule {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: -1;
  align-self: end; }

.front-page__schedule {
  justify-self: start;
  margin-left: 20px; }

.front-page__link--schedule {
  width: 50px;
  height: 50px; }

.front-page__decor--clock {
  width: 50px;
  height: 50px; }

.front-page__contacts {
  justify-self: end;
  margin-right: 10px; }

.front-page__link--contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.front-page__link--contacts .front-page__decor {
  margin-left: 20px; }
  .front-page__link--contacts .front-page__decor:first-of-type {
    margin-left: 0; }

.front-page__decor--phone,
.front-page__decor--mail,
.front-page__decor--pin {
  width: 40px;
  height: 45px; }

.front-page__decor {
  fill: #6f148c; }

.front-page__decor--sun {
  position: absolute;
  top: 180px;
  left: 65%;
  width: 160px;
  height: 160px;
  fill: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.78;
  z-index: 0; }

@media (min-width: 375px) {
  .front-page {
    padding-top: 50px;
    width: 325px;
    height: 550px;
    background-image: url("../img/front-background-mobile-wide.jpg"); }
  .front-page__decor--sun {
    top: 250px;
    width: 200px;
    height: 200px; }
  .front-page__link--yoga {
    margin-top: 70px; }
  .front-page__contacts {
    margin-right: 20px; } }

@media (min-width: 768px) {
  .front-page {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 60px auto auto;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    width: 688px;
    height: 408px;
    background-image: url("../img/front-background-tablet.jpg"); }
  .front-page__decor--sun {
    left: 50%; }
  .front-page__title {
    font-size: 60px; }
  .front-page__title-secondary {
    font-size: 50px; }
  .front-page__link--yoga {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: end;
    margin-top: 0;
    margin-bottom: 15px; }
  .front-page__contacts {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: end;
    align-self: end;
    margin-bottom: 40px;
    margin-right: 0; }
  .front-page__schedule {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: -1;
    align-self: end;
    margin-left: 43px; }
  .front-page__link--schedule {
    width: 150px;
    height: 150px; }
  .front-page__decor--clock {
    width: 150px;
    height: 150px; }
  .front-page__link--fitness {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1;
    margin-bottom: 0; }
  .front-page__link--contacts .front-page__decor {
    margin-left: 30px; }
    .front-page__link--contacts .front-page__decor:first-of-type {
      margin-left: 0; }
  .front-page__decor--phone,
  .front-page__decor--mail,
  .front-page__decor--pin {
    width: 50px;
    height: 55px; } }

@media (min-width: 1024px) {
  .front-page {
    grid-template-rows: 90px auto auto;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 45px;
    width: 920px;
    height: 553px;
    background-image: url("../img/front-background-desktop.jpg"); }
  .front-page__title {
    font-size: 90px; }
  .front-page__title-secondary {
    font-size: 75px; }
  .front-page__link--yoga {
    margin-bottom: 5px; }
  .front-page__contacts {
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 0; }
  .front-page__decor--phone,
  .front-page__decor--mail,
  .front-page__decor--pin {
    width: 70px;
    height: 85px; }
  .front-page__schedule {
    margin-left: 88px; }
  .front-page__link--schedule {
    width: 220px;
    height: 220px; }
  .front-page__decor--clock {
    width: 220px;
    height: 220px; }
  .front-page__decor--sun {
    top: 50%;
    width: 300px;
    height: 300px; } }

.form-login {
  display: none;
  position: absolute;
  right: -16px;
  bottom: -50px;
  padding: 50px;
  width: 200px;
  background-color: #101010;
  z-index: 10; }

.form-login--shown {
  display: block; }

.form-login input {
  margin-bottom: 15px;
  width: 100%;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #101010; }

.form-login input[type="submit"] {
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  width: 60%; }

.form-login__handler {
  position: absolute;
  right: 70px;
  top: 25px; }
  .form-login__handler::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .form-login__handler::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.admin-block {
  position: absolute;
  right: 16px;
  bottom: 50px;
  width: 35px;
  height: 35px; }

.admin-block__enter {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none; }

.admin-block__enter svg {
  width: 35px;
  height: 35px;
  fill: #ffffff; }

.yoga-svg svg {
  fill: #19744C; }

.background-fitness {
  background-color: #6f148c; }

.text-color-fitness {
  color: #6f148c; }

.border-color-fitness {
  border-color: #6f148c; }

.pseudo-element-fitness::before,
.pseudo-element-fitness::after {
  background-color: #6f148c; }

.svg-color svg {
  fill: #6f148c; }

@media (min-width: 1024px) {
  .fitness-schedule-titles-style {
    color: #ffffff;
    background-color: #6f148c; } }
