/* font-styles */

$base-font-size: 16px;
$base-line-height: 28px;
$base-font-weight: 400;
$base-font-family: "Roboto";

/* colors */

$text-on-white: #303030;
$white: #ffffff;
$black: #000000;
$background: #303030;
$medium-background: #F0F0F0;
$light-background: #F6F7F7;
$dark-background: #101010;
$green: #19744C;

/* measurements */

$block-padding-mobile: 50px 16px;
$block-padding-tablet: 65px 30px;
