/** {
  outline: 1px solid red;
}*/

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  @include font-base (14px, 22px);
  background-color: $white;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  height: auto;
}

input,
textarea {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  body {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: $base-font-size;
    line-height: $base-line-height;
  }
}
