.admin-block {
	position: absolute;
	right: 16px;
	bottom: 50px;
	width: 35px;
	height: 35px;
}

.admin-block__enter {
	display: block;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
}

.admin-block__enter svg {
	width: 35px;
	height: 35px;
	fill: $white;
}

@media (min-width: 768px) {

	.admin-block {
		right: 60px;
	}
}

@media (min-width: 1024px) {

	.admin-block {
		right: 110px;
		bottom: 70px;
	}
}

@media (min-width: 1440px) {

	.admin-block {
		bottom: 80px;
	}
}
