.article__illustration {
	margin-bottom: 21px;
	display: flex;
}

.article__illustration picture {
	margin: 0 auto;
}

.article__secondary-title {
	margin-top: 15px;
	margin-bottom: 20px;
}

.article__text p {
	margin-bottom: 12px;
}

.article__mini-header {
	font-weight: 600;
	font-size: 16px;
}

.article__list {
	@include list-style;
	margin-top: 16px;
	margin-bottom: 22px;
	padding-left: 28px;
}

.article__list-item {
	position: relative;
	margin-bottom: 12px;

	&:last-of-type {
		margin-bottom: 0;
	}

	&::before {
		@include element-style(8px, 8px, $green);
		top: 6px;
		left: -18px;
		border-radius: 50%;
	}
}

.article__list--pilates .article__list-item,
.article__list--hatha .article__list-item {

	&::before {
		display: none;
	}
}

@media (min-width: 768px) {

	.article__illustration {
		margin-bottom: 28px;
	}

	.article__secondary-title {
		margin-top: 18px;
		margin-bottom: 24px;
	}

	.article__mini-header {
		font-size: 18px;
	}

	.article__text p {
		margin-bottom: 22px;
	}

	.article__list {
		padding-left: 34px;
	}

	.article__list-item {

		&::before {
			top: 8px;
		}
	}
}

@media (min-width: 1024px) {
  .article__illustration {
  	float: left;
  	margin-right: 34px;
  }

	.clearfix {
	  content: "";
	  clear: both;
	  display: table;
	}

  .article__secondary-title {
  	margin-top: 0;
  	white-space: nowrap;
  }

  .article__mini-header {
		font-size: 20px;
	}
}

@media (min-width: 1440px) {

  .article__illustration {
  	margin-bottom: 35px;
  	margin-right: 42px;
  }

  .article__mini-header {
		font-size: 24px;
	}

  .article__text p {
	margin-bottom: 28px;
  }

  .article__list {
	padding-left: 42px;
  }
}
