.branches-list {
	@include list-style;
	padding-top: 40px;
}

.branches-list__item {
	margin-bottom: 35px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.branches-list__article-picture {
	margin-bottom: 25px;
}

.branches-list__article-picture img {
	width: 100%;
}
