.branches {
	padding: $block-padding-mobile;
	padding-bottom: 0;
}

@media (min-width: 768px) {
	.branches {
		padding: $block-padding-tablet;
		padding-bottom: 0;
	}

	.branches__btn {
		margin-bottom: 0;
	}
}

@media (min-width: 1024px) {
	.branches {
		padding: $block-padding-desktop;
		padding-bottom: 0;
	}

	.branches__illustration {
		width: 487px;
	}
}
