.btn {
	@include link-style;
	display: inline-block;
	margin-top: 21px;
	margin-bottom: 21px;
	padding: 16px;
	color: $white;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	background-color: $green;
	border-radius: 4px;
}

@media (min-width: 768px) {
	.btn {
		margin-bottom: 40px;
		margin-top: 40px;
		font-size: 18px;
		line-height: 22px;
		padding: 18px;
	}
}
