.contact {
	margin-right: auto;
	width: 215px;
}

.contact__title {
	color: $white;
}

.contact p {
	display: inline-block;
	margin-bottom: 12px;
}

.contact  .contact__email {
		margin-bottom: 0;
}

