.contact {
	margin-right: auto;
}

.contact__container {
	font-weight: 600;
}

.contact p {
	display: inline-block;
	margin-bottom: 12px;
}

.contact  .contact__email {
		margin-bottom: 0;
}

@media (min-width: 1024px) {

    .contact__container {
    	font-size: 20px;
    }	
}

