.fitness-colors__background {
	background-color: $violet;
}

.fitness-colors__text {
	color: $violet;
}

.fitness-colors__border {
	border-color: $violet;
}

.fitness-colors__pseudo-element::before,
.fitness-colors__pseudo-element::after {
	background-color: $violet;
}

.fitness-colors__svg svg {
	fill: $violet;
}

@media (min-width: 1024px) {

	.fitness-colors__schedule-titles-style {
		color: $white;
		background-color: $violet;
	}
}
