.front-page {
	position: relative;
	margin: 0 auto;
	padding: 25px;
	padding-bottom: 40px;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 45px 108px 178px auto;
	width: 270px;
	height: 430px;
	background-color: $lavender;
	background-image: url('../img/front-background-mobile.jpg');
	background-repeat: no-repeat;
}

.front-page--yoga-active {
	background-image: url('../img/front-background-mobile-yoga.jpg');
}

.front-page--fitness-active {
	background-image: url('../img/front-background-mobile-fitness.jpg');
}

.front-page__title {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 1;
	margin-bottom: 0;
	color: $white;
	font-size: 45px;
	line-height: 1;
	text-transform: uppercase;
}

.front-page__link {
	@include link-style;
}

.front-page__link--yoga {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 2;
	align-self: start;
	justify-self: start;
	padding-top: 45px;
	padding-bottom: 28px;
	padding-right: 100px;
	z-index: 5;
}

.front-page__link--yoga:hover {
    opacity: 0.6;
}

.front-page__link--fitness {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 3;
	grid-row-end: 3;
	align-self: end;
	justify-self: end;
	padding-top: 50px;
	padding-bottom: 28px;
	padding-left: 100px;
	z-index: 5;
}

.front-page__link--fitness:hover {
	opacity: 0.6;
}

.front-page__title-secondary {
	margin-bottom: 0;
	font-size: 35px;
	line-height: 1;
	color: $white;
	text-transform: uppercase;
}

.front-page__contacts,
.front-page__schedule {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 4;
	grid-row-end: -1;
	align-self: end;
}

.front-page__schedule {
	justify-self: start;
}

.front-page__link--schedule {
	padding-left: 18px;
	width: 50px;
	height: 50px;
}

.front-page__decor--clock {
	width: 50px;
	height: 50px;
}

.front-page__contacts {
	justify-self: end;
	margin-right: 10px;
}

.front-page__link--contacts {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 5px;
}

.front-page__link--contacts .front-page__decor {
	margin-left: 20px;

    &:first-of-type {
    	margin-left: 0;
    }
}

.front-page__decor--phone,
.front-page__decor--mail,
.front-page__decor--pin {
	width: 40px;
	height: 45px;
}

.front-page__decor {
	fill: $violet;
}

.front-page__logo {
	position: absolute;
	top: 20%;
	left: 40%;
	width: 160px;
	height: 160px;
}

.front-page__decor--sun {
	width: 160px;
	height: 160px;
	fill: $white;
	opacity: 0.78;
}

.front-page__decor--om {
	position: absolute;
    top: 48%;
    left: 50%;
    width: 63px;
    height: 63px;
    transform: translate(-50%, -50%);
}

.front-page__logo:hover .front-page__decor--sun {
    opacity: 1;
}

.front-page__logo:hover .front-page__decor--om {
	fill: $green;
}

.front-page__link:hover .front-page__decor {
	fill: $green;
}

@media (min-width: 375px) {
	.front-page {
		grid-template-rows: 45px 155px 243px auto;
		padding-top: 50px;
		width: 325px;
		height: 550px;
		background-image: url('../img/front-background-mobile-wide.jpg');
	}

	.front-page--yoga-active {
		background-image: url('../img/front-background-mobile-wide-yoga.jpg');
	}

	.front-page--fitness-active {
		background-image: url('../img/front-background-mobile-wide-fitness.jpg');
	}

	.front-page__logo {
		top: 23%;
        width: 200px;
        height: 200px;
	}

	.front-page__decor--sun {
		width: 200px;
	    height: 200px;
	}

	.front-page__decor--om {
		width: 80px;
		height: 80px;
	}

	.front-page__link--yoga {
		padding-top: 92px;
	}

	.front-page__contacts {
		margin-right: 20px;
	}
}

@media (min-width: 768px) {
	.front-page {
		grid-template-columns: repeat(2, 50%);
	    grid-template-rows: 60px 156px auto;
		margin-top: 50px;
		padding-left: 40px;
		padding-right: 40px;
		width: 688px;
		height: 408px;
		background-image: url('../img/front-background-tablet.jpg');
	}

	.front-page--yoga-active {
		background-image: url('../img/front-background-tablet-yoga.jpg');
	}

	.front-page--fitness-active {
		background-image: url('../img/front-background-tablet-fitness.jpg');
	}

	.front-page__logo {
		left: 35%;
		top: 27%;
		width: 220px;
		height: 220px;
	}

	.front-page__decor--sun {
		width: 220px;
		height: 220px;
	}

	.front-page__decor--om {
		width: 85px;
		height: 85px;
	}

	.front-page__title {
		font-size: 60px;
	}

	.front-page__title-secondary {
		font-size: 50px;
	}

	.front-page__link--yoga {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
		align-self: end;
		margin-top: 0;
		padding-top: 77px;
		padding-bottom: 36px;
	}

	.front-page__contacts {
		grid-column-start: 2;
		grid-column-end: -1;
		grid-row-start: 2;
		grid-row-end: 2;
		justify-self: end;
		align-self: end;
		padding-bottom: 65px;
		margin-right: 0;
	}

	.front-page__schedule {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: -1;
		align-self: end;
		margin-left: 43px;
	}

	.front-page__link--schedule {
		width: 150px;
		height: 150px;
	}

	.front-page__decor--clock {
		width: 150px;
		height: 150px;
	}

	.front-page__link--fitness {
		grid-column-start: 2;
		grid-column-end: -1;
		grid-row-start: 3;
		grid-row-end: -1;
		padding-bottom: 0;
	}

	.front-page__link--contacts .front-page__decor {
		margin-left: 30px;
    
	    &:first-of-type {
	    	margin-left: 0;
	    }
	}

	.front-page__decor--phone,
	.front-page__decor--mail,
	.front-page__decor--pin {
		width: 50px;
		height: 55px;
	}
}

@media (min-width: 1024px) {
	.front-page {
		grid-template-rows: 90px 206px auto;
		margin-top: 80px;
		padding-top: 50px;
		padding-bottom: 45px;
		width: 920px;
		height: 553px;
		background-image: url('../img/front-background-desktop.jpg');
	}

	.front-page--yoga-active {
		background-image: url('../img/front-background-desktop-yoga.jpg');
	}

	.front-page--fitness-active {
		background-image: url('../img/front-background-desktop-fitness.jpg');
	}

	.front-page__title {
		font-size: 90px;
	}

	.front-page__title-secondary {
		font-size: 75px;
	}

	.front-page__link--yoga {
		margin-bottom: 5px;
	}

	.front-page__contacts {
		align-self: center;
		margin-bottom: 0;
	}

	.front-page__decor--phone,
	.front-page__decor--mail,
	.front-page__decor--pin {
		width: 70px;
		height: 85px;
	}
	
	.front-page__link--schedule {
		width: 220px;
		height: 220px;
	}

	.front-page__decor--clock {
		width: 220px;
		height: 220px;
	}

	.front-page__logo {
		left: 35%;
		top: 27%;
		width: 300px;
		height: 300px;
	}

	.front-page__decor--sun {
		width: 300px;
		height: 300px;
	}

	.front-page__decor--om {
		width: 112px;
		height: 112px;
	}
}
