.logo-block__link {
	@include link-style;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: $white;
	border-radius: 4px;
}

.logo-block__name {
	margin-left: 6px;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
}

.logo-block__description {
	display: none;
}

.logo-block svg {
	width: 39px;
	height: 40px;
	fill: $white;
}

@media (min-width: 1000px) {
	.logo-block__name {
		font-size: 30px;
		line-height: 30px;
	}

	.logo-block svg {
		width: 48px;
		height: 50px;
	}
}
