.logo-block__link {
	@include link-style;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: $white;
}

.logo-block__name {
	margin-left: 6px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	text-align: left;
}

.logo-block__description {
	display: none;
}

.logo-block__svg {
	position: relative;
}

.logo-block__main-img {
	width: 55px;
	height: 56px;
	fill: $white;
}

.logo-block__om {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 23px;
	height: 20px;
	transform: translate(-53%, -70%);
}

.logo__om-on-sun--shown {
	display: block;
}

@media (min-width: 768px) {
	.logo-block__name {
		margin-left: 8px;
		font-size: 28px;
	}
}

@media (min-width: 1024px) {

	.logo-block__name {
		font-size: 30px;
	}
}

@media (min-width: 1440px) {

	.logo-block__name {
		margin-left: 12px;
		font-size: 50px;
	}

	.logo-block__main-img {
		width: 80px;
		height: 83px;
	}

	.logo-block__om {
		width: 32px;
	    height: 30px;
	}
}

@media (min-width: 1880px) {
    
    .logo-block__main-img {
		width: 100px;
		height: 103px;
	}

	.logo-block__om {
		width: 45px;
	    height: 43px;
	}
}
