.main-header {
	padding: 13px 21px;
	background-color: $green;
}

.main-header__block-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 768px) {
	.main-header {
		padding: $block-padding-tablet;
		padding-top: 30px;
		padding-bottom: 0;
	}
}

@media (min-width: 1000px) {
	.main-header {
		padding: $block-padding-desktop;
		padding-top: 20px;
		padding-bottom: 0;
	}

	.main-header__block-wrap {
		flex-direction: column;
	}

	.main-header__logo {
		margin-bottom: 35px;
	}
}
