.main-schedule {
	padding: $block-padding-mobile;
}

.main-schedule .schedule {
	padding: 0;
}

.main-schedule .schedule__list {
	display: flex;
	flex-direction: column;
	padding: 25px;
	padding-bottom: 0;
	border-radius: 4px;
	background-color: $white;
}
