.main-nav__toggler {
	position: relative;
    padding: 13px 16px;
    padding-left: 43px;
}

.main-nav__toggler-label {
	position: relative;
	display: block;
	color: $white;
	font-weight: 700;
	line-height: 14px;
	font-size: 18px;

	&::before {
		@include element-style(100%, 1px, $white);
		left: 0;
		bottom: -3px;
	}
}

.main-nav__toggler-element {
	position: absolute;
	display: block;
	top: 15px;
	left: 16px;
	width: 20px;
	height: 2px;
	background-color: $white;

	&::before {
		@include element-style(20px, 2px, $white);
		top: 6px;
		left: 0;
	}

	&::after {
		@include element-style(20px, 2px, $white);
		top: 12px;
		left: 0;
	}
}

.main-nav__toggler--close .main-nav__toggler-element {
  top: 50%;
  
  transform: rotate(45deg);

  &::before {
  	top: 0;
  	
  	transform: rotate(-90deg);
  }

  &::after {
  	display: none;
  }
}

.main-nav__list {
	@include list-style;
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	padding: 26px;
	padding-top: 16px;
	padding-left: 32px;
	background-color: $white;
	box-sizing: border-box;
	z-index: 10;
	display: none;
}

.main-nav__list--shown {
	display: flex;
}

.main-nav__link {
	@include link-style;
	display: inline-block;
	padding: 8px 0;
	text-align: left;
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	color: $green;
}

.main-nav__list--fitness .main-nav__link {
	color: $violet;
}

.main-nav__item--active .main-nav__link {
	opacity: 0.7;
}

.main-nav__link:hover {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		height: 1px;
		background-color: $white;
	}
}

@media (min-width: 768px) {
    
    .main-nav__toggler-label {
    	font-size: 20px;

    	&::before {
    		bottom: -5px;
    	}
    }

    .main-nav__toggler-element {
    	top: 13px;
    	left: 10px;
    	width: 24px;

    	&::before {
    		top: 7px;
    		width: 24px;
    	}

    	&::after {
    		top: 14px;
    		width: 24px;
    	}
    }

	.main-nav__list {
		top: 100px;
		padding: 50px;
		padding-left: 45px;
	}

	.main-nav__item {
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.main-nav__link {
		font-size: 18px;
	}
}

@media (min-width: 1024px) {
	.main-nav__toggler {
		display: none;
	}

	.main-nav__list {
		display: flex;
		position: static;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
		border: none;
		background-color: transparent;
	}

	.main-nav__item {
		position: relative;
		margin-left: 20px;
		margin-bottom: 0;

		&:first-of-type {
			margin-left: 0;
		}
	}

	.main-nav__link {
		font-size: 20px;
		color: $white;
	}

	.main-nav__list--fitness .main-nav__link {
		color: $white;
	}
}

@media (min-width: 1440px) {
  
    .main-nav__item {
		margin-left: 30px;
	}

	.main-nav__link {
		font-size: 22px;
	}
}

@media (min-width: 1920px) {

	.main-nav__item {
		margin-left: 46px;
	}

	.main-nav__link {
		font-size: 26px;
	}
}
