.main-header {
	position: relative;
	padding: 13px 21px;
	background-color: $green;
}

.main-header__block-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 768px) {
	.main-header {
		padding: 30px;
	}
}

@media (min-width: 1024px) {
	.main-header {
		padding: 40px 80px;
	}
}

@media (min-width: 1920px) {

	.main-header {
		padding: 40px 180px;
	}
}
