.main-footer {
	padding: $block-padding-mobile;
	padding-bottom: 25px;
	color: $white;
	background-color: $dark-background;
}

.main-footer__logo {
	margin-bottom: 21px;
}

.main-footer__social-block svg {
	fill: $white;
}
