.map {
	width: 100%;
	background-image: url('../img/map-370.jpg');
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.map iframe {
	width: 100%;
	height: 300px;
}

@media (min-width: 768px) {

	.map {
		background-image: url('../img/map-800.jpg');
	}

	.map iframe {
		height: 380px;
	}
}

@media (min-width: 1024px) {

	.map {
		background-image: url('../img/map-1000.jpg');
	}

	.map iframe {
		height: 400px;
	}
}
