.news {
	padding: $block-padding-mobile;
	padding-bottom: 0;
}

.news__list {
	@include list-style;
	display: grid;
	grid-row-gap: 25px;
}

.news__link {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 4;
	grid-row-end: -1;
	@include link-style;
	margin-top: 10px;
	color: $green;
	text-decoration: underline;
}

.news__article {
	display: grid;
	grid-template-columns: 120px auto;
	grid-template-rows: auto auto auto auto;
	grid-column-gap: 15px;
}

.news__picture {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: -2;
}

.news__article-title {
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 1;
	margin-bottom: 12px;
	font-size: 18px;
}

.news__date {
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 2;
	margin-bottom: 10px;
	font-weight: 500;
	font-style: italic;
}

.news__text {
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 3;
	grid-row-end: -2;
}

.news__btn {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.news {
		padding: $block-padding-tablet;
		padding-bottom: 0;
	}

	.news__list {
		grid-row-gap: 35px;
	}

	.news__article {
		grid-template-columns: 120px auto auto;
		grid-template-rows: auto auto auto;
		grid-column-gap: 25px;
	}

	.news__picture {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: -1;
	}

	.news__article-title {
		grid-column-start: 2;
		grid-column-end: -2;
		grid-row-start: 1;
		grid-row-end: 1;
		font-size: 20px;
	}

	.news__date {
		grid-column-start: 2;
		grid-column-end: -2;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.news__text {
		grid-column-start: 2;
		grid-column-end: -2;
		grid-row-start: 3;
		grid-row-end: -1;
	}

	.news__link {
		grid-column-start: 3;
		grid-column-end: -1;
		grid-row-start: 3;
		grid-row-end: -1;
		justify-self: end;
	}
}
