.page-main-content__title,
.page-main-content__greeting {
	display: none;
	padding: 0 16px;
}

.page-main-content__title--mobile {
	display: block;
}

.page-main-content__greeting--mobile {
	display: block;
	margin-bottom: 15px;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

.page-main-content__picture-wrap {
	margin: 0 auto;
	width: 338px;
}

.page-main-content .contact__title,
.page-main-content .short-schedule__title {
	color: $text-on-white;
}

