.reviews {
	position: relative;
	padding: $block-padding-mobile;
}

.reviews__list {
	@include list-style;
	display: flex;
	flex-direction: column;
}

.reviews__item {
	margin-bottom: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid $green;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.reviews__item-personal-block {
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-rows: auto auto;
	grid-column-gap: 15px;
	margin-bottom: 15px;
}

.reviews__reviewer-potret {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: -1;
}

.reviews__reviewer-name {
	display: inline-block;
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 1;
	color: $green;
	font-size: 16px;
	font-weight: 500;
}

.reviews__date {
	display: inline-block;
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: -1;
	font-size: 12px;
	font-style: italic;
	color: $dark-background;
}

.reviews__text--full {
	display: none;
}

.reviews__btn {
	margin-bottom: 0;
}

@media (min-width: 768px) {

	.reviews {
		padding: $block-padding-tablet;
	}

	.reviews__btn--read {
		margin-right: 30px;
	}
}

@media (min-width: 1024px) {

	.reviews {
		padding: $block-padding-desktop;
	}

	.reviews__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 904px;
  }

  .reviews__inner-page-list {
  	flex-direction: column;
  	width: 100%;
  }

  .reviews__item {
  	margin: 0;
  	margin-right: 60px;
  	padding: 0;
  	width: 435px;
  	border-bottom: none;

  	&:last-of-type {
  		margin-right: 0;
  	}
  }

  .reviews__inner-page-list .reviews__item {
  	margin-right: 0;
  	margin-bottom: 42px;
  	width: 100%;

  	&:last-of-type {
  		margin-bottom: 0;
  	}
  }

  .reviews__text {
		display: none;
	}

	.reviews__text--full {
		display: block;
	}
}

@media (min-width: 1440px) {

	.reviews {
		padding: 110px 230px;
	}

	.reviews__title {
		margin-bottom: 60px;
	}

  .reviews__list {
    width: 980px;
  }

  .reviews__item {
  	margin-right: 60px;
  	width: 460px;
  }

  .reviews__item-personal-block {
		grid-template-columns: 100px auto;
		grid-column-gap: 25px;
		margin-bottom: 18px;
	}

	.reviews__reviewer-name {
		margin-top: 12px;
		font-size: 21px;
	}

	.reviews__date {
		font-size: 16px;
	}
}

@media (min-width: 1800px) {

	.reviews {
		padding: 110px 280px;
	}

	.reviews__list {
		justify-content: space-between;
		width: 100%;
	}

	.reviews__item {
  	margin-right: 0;
  	width: 45%;
  }
}
