.reviews {
	position: relative;
	padding: $block-padding-mobile;
}

.reviews__list {
	@include list-style;
	display: flex;
	flex-direction: column;
}

.reviews__item {
	margin-bottom: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid $green;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.reviews__item-personal-block {
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-rows: auto auto;
	grid-column-gap: 15px;
	margin-bottom: 15px;
}

.reviews__reviewer-potret {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: -1;
}

.reviews__reviewer-name {
	display: inline-block;
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 1;
	color: $green;
	font-size: 16px;
	font-weight: 500;
}

.reviews__date {
	display: inline-block;
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: -1;
	font-size: 12px;
	font-style: italic;
	color: $dark-background;
}

.reviews__btn {
	margin-bottom: 0;
}

@media (min-width: 768px) {

	.reviews {
		padding: $block-padding-tablet;
	}

	.reviews__btn--read {
		margin-right: 30px;
	}
}

@media (min-width: 1024px) {

	.reviews {
		padding: $block-padding-desktop;
	}
}

@media (min-width: 1440px) {

	.reviews {
		padding: 80px 230px;
	}

	.reviews__title {
		margin-bottom: 60px;
	}

  .reviews__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 980px;
  }

  .reviews__item {
  	margin: 0;
  	margin-right: 60px;
  	padding: 0;
  	width: 460px;
  	border-bottom: none;

  	&:last-of-type {
  		margin-right: 0;
  	}
  }
}
