.schedule {
	padding: $block-padding-mobile;
	padding-bottom: 0;
}

.schedule__title {
	text-align: center;
	font-weight: 500;
}

.schedule__handler {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: $green;
	border-radius: 4px;

	&::before {
		@include element-style(18px, 18px, transparent);
		left: 50%;
		bottom: 10px;
		border-radius: 2px;
		border: 2px solid $white;
		border-top: none;
		border-left: none;
		transform: rotate(45deg) translate(-50%);
	}
}

.schedule__handler--close {

	&::before {
		bottom: 5px;
		border-top: 2px solid $white;
		border-left: 2px solid $white;
		border-bottom: none;
		border-right: none;
	}
}

.schedule__list,
.schedule__item-handler,
.schedule__class-list-per-day {
	@include list-style;
	display: none;
}

.schedule__list--sown {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto;
	grid-row-gap: 15px;
	padding: 25px;
	padding-bottom: 0;
	border-radius: 4px;
	background-color: $white;
}

.schedule__item {
	position: relative;
	margin: 0;
	text-align: center;
	border-radius: 4px;
	border: 1px solid $green;
}

.schedule__item-title {
	margin-bottom: 0;
	padding: 10px 25px;
  color: $green;
}

.schedule__class-list-per-day--shown {
	display: grid;
	grid-row-gap: 15px;
}

.schedule__class-item {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	grid-row-gap: 8px;
	border-bottom: 1px solid $green;
	padding-bottom: 15px;

	&:first-of-type {
	  padding-top: 15px;
	}

	&:last-of-type {
		padding-bottom: 0;
		border: none;
	}
}

.schedule__class-item span {
	display: block;
	@include font-base(16px, 22px);
	font-weight: 500;
}

.schedule__item-handler--shown {
	display: block;
	position: absolute;
	right: 22px;
	top: 18px;
	width: 13px;
	height: 13px;
	background-color: transparent;
	z-index: 20;

	&::before {
		@include element-style(18px, 2px, $green);
		top: 82%;
		left: 30%;
		transform: rotate(45deg) translate(-50%);
	}

	&::after {
		@include element-style(18px, 2px, $green);
		top: -12%;
		left: 30%;
		transform: rotate(-45deg) translate(-50%);
	}
}

@media (min-width: 768px) {
  .schedule {
  	padding: $block-padding-tablet;
  	padding-bottom: 0;
  }

	.schedule__handler {
		display: none;
	}

	.schedule__list,
	.schedule__class-list-per-day {
		display: grid;
	}

	.schedule__list {
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
		grid-column-gap: 25px;
		grid-row-gap: 25px;
		padding: 0;
	}

	.schedule__item-title {
		color: $white;
		background-color: $green;
	}

	.schedule__class-list-per-day {
		background-color: $white;
	}

	.schedule__class-item {
		padding-top: 15px;
		padding-bottom: 15px;

		&:last-of-type {
			padding-bottom: 15px;
		}
	}
}

