.subscribing {
	position: relative;
	padding: $block-padding-mobile;
	background-color: $medium-background;
}

.subscribing__control-block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.subscribing__title {
	display: none;
}

.subscribing__list {
	@include list-style;
	margin: 0 auto;
	width: 240px;
}

.subscribing__item {
	display: none;
	padding: 30px 20px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid $green;
	background-color: $white;
}

.subscribing__item-title {
	color: $green;
}

.subscribing__item--active {
	display: block;
}

.subscribing__description p {
	&:last-of-type {
		margin-top: 10px;
	}
}

.subscribing__price {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	color: $green;
}

@media (min-width: 768px) {
	.subscribing {
		padding: $block-padding-tablet;
		padding-right: 80px;
		padding-left: 80px;
	}

	.subscribing__control-block {
		display: none;
	}

	.subscribing__list {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: auto;
		width: 100%;
	}

	.subscribing__item {
		display: block;
		width: 200px;

		&:first-of-type {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 1;
			grid-row-end: 1;
			align-self: start;
			justify-self: start;
		}

		&:nth-of-type(2) {
			grid-column-start: 2;
			grid-column-end: -1;
			grid-row-start: 1;
			grid-row-end: 1;
			align-self: start;
			justify-self: end;
		}

		&:nth-of-type(3) {
			position: absolute;
			left: 50%;
			top: 65px;
			transform: translate(-50%);
			box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
			z-index: 20;
		}
	}

	.subscribing__item--active {
		position: absolute;
		box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
		z-index: 30;
	}
}

@media (min-width: 1000px) {
	.subscribing {
		padding: $block-padding-desktop;
	}

	.subscribing__list {
		position: relative;
		display: grid;
		grid-template-columns: repeat(3, 33%);
		grid-template-rows: auto;
		justify-content: space-between;
		width: 100%;
	}

	.subscribing__item {
    width: 240px;

		&:nth-of-type(2) {
			grid-column-start: 3;
			grid-column-end: -1;
			grid-row-start: 1;
			grid-row-end: 1;
			align-self: start;
			justify-self: end;
		}

	  &:nth-of-type(3) {
			position: static;
			grid-column-start: 2;
			grid-column-end: -2;
			grid-row-start: 1;
			grid-row-end: 1;
			justify-self: center;
			transform: none;
		}
	}
}

@media (min-width: 1440px) {

	.subscribing {
		padding: 80px 250px;
	}
}
