.teachers {
	padding: $block-padding-mobile;
}

.teachers__illustration {
	margin-bottom: 25px;
}

@media (min-width: 375px) {

	.teachers__illustration {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 338px;
	}
}

@media (min-width: 768px) {
	.teachers {
		display: grid;
		grid-template-columns: auto 338px;
		grid-template-rows: auto auto 58px;
		grid-column-gap: 30px;
		padding: $block-padding-tablet;
	}

	.teachers__title {
		grid-column-start: 1;
		grid-column-end: -1;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	.teachers__text {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.teachers__illustration {
		grid-column-start: 2;
		grid-column-end: -1;
		grid-row-start: 2;
		grid-row-end: -1;
	}

	.teachers__btn {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: -1;
		justify-self: start;
		align-self: end;
		margin: 0;
	}
}

@media (min-width: 1000px) {
	.teachers {
		grid-template-columns: auto 487px;
		grid-column-gap: 50px;
		padding: $block-padding-desktop;
	}

	.teachers__illustration {
		width: 487px;
	}
}
