.teachers {
	padding: $block-padding-mobile;
}

.teachers__illustration {
	margin-bottom: 25px;
}

@media (min-width: 375px) {

	.teachers__illustration {
    margin: 0 auto;
	}
}

@media (min-width: 768px) {
	.teachers {
		display: grid;
		grid-template-columns: auto 338px;
		grid-template-rows: auto auto 58px;
		grid-column-gap: 30px;
		padding: $block-padding-tablet;
	}

	.teachers__title {
		grid-column-start: 1;
		grid-column-end: -1;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	.teachers__text {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.teachers__illustration {
		grid-column-start: 2;
		grid-column-end: -1;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.teachers__btn {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: -1;
		justify-self: start;
		align-self: end;
		margin: 0;
	}
}

@media (min-width: 1024px) {
	.teachers {
		grid-template-columns: auto 487px;
		grid-template-rows: auto 294px;
		grid-column-gap: 50px;
		padding: $block-padding-desktop;
	}

	.teachers__illustration {
		margin: 0;
		width: 487px;
	}

	.teachers__text {
		margin-top: 22px;
	}

	.teachers__btn {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: -1;
		justify-self: start;
		align-self: end;
	}
}

@media (min-width: 1440px) {
  
  .teachers {
		grid-template-columns: auto 487px;
		grid-template-rows: auto 294px;
		padding: 110px 160px;
	}

	.teachers__text {
		margin-top: 40px;
	}
  
  .teachers__illustration {
		margin: 0;
		width: 487px;
	}

	.teachers__btn {
		margin-bottom: 55px;
	}
}

@media (min-width: 1800px) {

	.teachers {
		grid-template-columns: auto 1000px;
		grid-template-rows: auto 604px;
	}

	.teachers__illustration {
		width: 1000px;
	}

	.teachers__text {
		margin-top: 70px;
		font-size: 24px;
		line-height: 1.7;
		font-style: italic;
	}
}
