.teachers-list {
	@include list-style;
}

.teachers-list__item {
	margin-bottom: 35px;
	padding-bottom: 20px;
	border-bottom: 1px solid $green;

	&:last-of-type {
		margin-bottom: 0;
		padding-bottom: 0;
		border: none;
	}
}

.teachers-list__article-picture {
	margin-bottom: 15px;
}

.teachers-list__article-title {
	margin-top: 10px;
	margin-bottom: 0;
	color: $green;
}

.teachers-list__social-block {
	
}

.teachers-list__social-block .social-block__item {
	margin-left: 16px;

	&:first-of-type {
		margin-left: 0;
	}
}

.teachers-list__social-block .social-block__link {
	width: 40px;
	height: 40px;
}

.teachers-list__social-block svg {
	width: 40px;
	height: 40px;
}
