.title {
	@include font-header(35px, 44px);
	margin-bottom: 15px;
	text-align: center;
}

.title__secondary {
	@include font-header(28px, 32px);
	margin-bottom: 21px;
	text-align: center;
}

.title__third {
	@include font-header(20px, 26px);
	margin-bottom: 18px;
}

@media (min-width: 768px) {
	.title {
		@include font-header(45px, 60px);
		margin-bottom: 30px;
	}

	.title__secondary {
		@include font-header(30px, 45px);
		margin-bottom: 35px;
	}

	.title__third {
		@include font-header(20px, 26px);
		font-weight: 500;
	}
}

@media (min-width: 1000px) {
  .title {
  	@include font-header(50px, 65px);
  	margin-bottom: 45px;
  }

  .title__secondary {
		@include font-header(40px, 50px);
		margin-bottom: 45px;
	}

	.title__third {
		@include font-header(24px, 32px);
	}
}
